@import "../../scss/mixins";
@import "../../scss/variables";

.dashboard {
  padding: 3rem;

  @include respond(tab-port) {
    padding: 1rem 0.5rem;
  }
  

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;

   
    @include respond(tab-port) {
      display: block;
    }
   

    .eachcard {
      background-color: #fafafa;
      padding: 1.5rem;
      height: 200px;
      border-radius: 0.6rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      text-align: left;
      
     

      @include respond(tab-port) {
        margin-top: 2.4rem;
      }
      
     

    

      .cardFlex {
        p {
          color: #8d000098;
          font-size: 10px;
          font-weight: 500;
          font-family: 'Lucida Sans';
           }

        h2{
          font-family: 'Lucida Sans';
          color: #8d000098;
         }

        }

        .status {
          border-radius: 1.5rem;
          padding: 0.3rem 0.6rem;
          display: flex;
        }

        .rise {
          color: #305c45;
          background: rgba(48, 92, 69, 0.1);
        }

        .fall {
          color: #e6a960;
          background: rgba(230, 169, 96, 0.1);
        }

        p {
          color: #313638;
          font-size: 0.8rem;
        }

        .nariaSvg {
          margin-top: -0.4rem;
        }

        h2 {
          color: #313638;
          font-size: 1.8rem;
        }

        .cardRate {
          font-family:'Lucida Sans';
          color: #8d000098;
          font-weight: 400;
          margin-top: 5%;
        }
        .cardId{
          margin: 10px auto;



          p{
            font-family:'Lucida Sans';
          color: #8d000098;
          font-weight: 900;
          font-size: 10px;
          }
        }

      }

      
    }
  }


.addIcon {
  position: fixed;
  bottom: 10rem;
  right: 10rem;
  z-index: 999;
  cursor: pointer;
}

.addIcon2 {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
  z-index: 999;
  cursor: pointer;
}
