@import "../scss/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5% !important; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50% !important;
  }
}

body {
  font-size: 1.8rem;
  color: $color-black;
  background-color: $color-bg-input;
  font-family: $font-primary;
  line-height: $line-height;

  .active {
    border-bottom: 2px solid $nav-link-color !important;
  }
}

.logout-icon .ant-dropdown-menu {
  border-radius: 0px;
  height: 48px;
  display: flex;
  width: 100%;
  padding: 0px;
}

.logout-icon .ant-dropdown-menu li {
  width: 100%;
  padding: 0px !important;
}

.logout-icon .ant-dropdown-menu li div {
  padding: 6px 12px;
  height: 48px;
  background: red;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
}

.ant-dropdown-trigger {
  cursor: pointer;
}
