@import "../../scss/mixins";
@import "../../scss/variables";

.dashboard {
  padding: 3rem;

  @include respond(tab-port) {
    padding: 1rem 0.5rem;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;

    @include respond(tab-port) {
      display: block;
    }
    :hover {
      transform: scale(1.05);
    }

    .eachcard {
      background-color: #ffffff;
      padding: 1.5rem;
      height: 200px;
      border-radius: 0.6rem;
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;

      @include respond(tab-port) {
        margin-top: 2.4rem;
      }

      .cardFlex {
        p {
          color: #d10000;
          font-size: 10px;
          font-weight: 500;
          font-family: Verdana, sans-serif;
          text-align: center;
        }

        h2 {
          font-family: Verdana, sans-serif;
          color: #d10000;
        }
      }

      .status {
        border-radius: 1.5rem;
        padding: 0.3rem 0.6rem;
        display: flex;
      }

      .rise {
        color: #305c45;
        background: rgba(48, 92, 69, 0.1);
      }

      .fall {
        color: #e6a960;
        background: rgba(230, 169, 96, 0.1);
      }

      p {
        color: #313638;
        font-size: 0.8rem;
        margin-left: 0.5rem;
      }

      .nariaSvg {
        margin-top: -0.4rem;
      }

      h2 {
        color: #313638;
        font-size: 1.8rem;
      }
    }

    .cardRate {
      button {
        padding: 20px;
        border-radius: 10px;
        border-color: #fff;
        cursor: pointer;
      }
      :hover {
        background-color: #d10000;
        color: #ffffff;
        transform: scale(1.05);
      }
    }
  }

  .tableSection {
    background-color: #ffffff;
    margin-top: 1.2rem;
    padding: 2.6rem 3.2rem;
    overflow-x: scroll;
  }
}

.addIcon {
  position: fixed;
  bottom: 10rem;
  right: 10rem;
  z-index: 999;
  cursor: pointer;
}

.addIcon2 {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
  z-index: 999;
  cursor: pointer;
}
